<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jonesFitness.missioncontrol7777.zrjones77.karalibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.MY_PERMISSIONS_REQUEST_READ_CONTACTS"/>
    <uses-permission android:name="com.example.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name="jonesFitness.missioncontrol7777.zrjones77.karalibrary.SplashActivity"
            android:label="@string/app_name"
            android:icon = "@drawable/splash_icon" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="jonesFitness.missioncontrol7777.zrjones77.karalibrary.LibraryActivity" >
        </activity>
        <activity android:name="jonesFitness.missioncontrol7777.zrjones77.karalibrary.SearchActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
        <activity android:name="jonesFitness.missioncontrol7777.zrjones77.karalibrary.AddBookActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
        <activity android:name="jonesFitness.missioncontrol7777.zrjones77.karalibrary.MenuActivity" >
        </activity>
        <activity android:name="jonesFitness.missioncontrol7777.zrjones77.karalibrary.StudentActivity" >
        </activity>
        <activity android:name="jonesFitness.missioncontrol7777.zrjones77.karalibrary.WishlistActivity" >
        </activity>
        <activity
            android:name="jonesFitness.missioncontrol7777.zrjones77.karalibrary.CameraActivity" >
        </activity>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />
        <!-- To use multiple models: android:value="barcode,model2,model3" -->

    </application>

</manifest>